
<% tournament_year = "2016" %>

<% tournament = Tournament.find_by year: tournament_year%>
<h1><%= tournament.name %></h1>

<% 
team_list = ""
team_results = ""
Round.all.order(:number).each do |round|
	if !round.name.eql? "First Four" 
		team_results += "[" 
	Region.all.each do |region| 
		
       		games = BracketGame.where(round_id: round.id, region_id: region.id) 
	       	if games.nil? 
	      	 	games = BracketGame.where(round_id: round.id)   
	       	end 
      		
      		games.each do |game|
	      		team1_id = game.team_id 
	      		team2_id = game.team2_id 
	      		team1 = Team.find_by id: team1_id
	      		team2 = Team.find_by id: team2_id
				winner = Team.find_by id: game.winner_id
				team1_result = team1.id == winner.id ? 1 : 0 
				team2_result = team1_result == 1 ? 0 : 1 
				
				if round.name.eql? "First Round"
					team_list += "[\"#{team1.name}\", \"#{team2.name}\"],"
				end
				
				team_results += "[#{team1_result}, #{team2_result}]," 
			end
			
   	end 
   	
	team_results += "],"
	
	end 
end 


%>
Team List:
<%= team_list.html_safe %>
<p></p>
Team Results:
<%= team_results.html_safe %>

<script>
	
var bracket = {
  teams : [
    <%= team_list.html_safe %>
  ],
  results: [
  	<%= team_results.html_safe %>
  ]
}
 
$(function() {
  $('div#noGrandFinalComeback .demo').bracket({
    skipGrandFinalComeback: true,
    init: bracket})
})
	
</script>

<div id="noGrandFinalComeback">
	<div class="demo">
		
	</div>
</div>

