<h1>Landings#index</h1>
<p>Find me in app/views/landings/index.html.erb</p>

<% 
team1 = "virginia"
team2 = "arkansas little rock"
team1_name = Team.find_by name: team1
team2_name = Team.find_by name: team2
#set active recrod values 
team1_kp = KenpomTeam.find(team1_name.kenpom_team_id)
team2_kp = KenpomTeam.find(team2_name.kenpom_team_id)
team1_bmat = BmatrixTeam.find(team1_name.bmatrix_team_id)
team2_bmat = BmatrixTeam.find(team2_name.bmatrix_team_id)
%>
<p><%= 
team1_kp.name %>: <%= team1_kp.rank
%></p>

<p><%= 
team2_kp.name %>: <%= team2_kp.rank
%></p>

<p><%= 
team1_bmat.name %>: <%= team1_bmat.rank
%></p>
<p><%= 
team2_bmat.name %>: <%= team2_bmat.rank
%></p>

<% t = TournamentHelper.new%>
<% winner = t.match(team1, team2)%>
Winner: <%= winner.name %>
