<% tournament_year = "2016" %>

<% tournament = Tournament.find_by year: tournament_year%>
<h1><%= tournament.name %></h1>

<% bracket = jquery_bracket_generator %>
<script>
	/*
*/
var bracket = {
teams : [<%= bracket["teams"].html_safe %>
	],
results: [<%= bracket["results"].html_safe %>
	]
	}
	$(function() {
		$('div#noGrandFinalComeback .demo').bracket({
			skipGrandFinalComeback : true,
			init : bracket
		})
	})
</script>

<div id="noGrandFinalComeback">
	<div class="jQBracket lr" style="width: 850px;">
		<% Region.all.limit(1).each do |region| %>
		<div class="bracket" style="height: <%= 8 * 64 %>">
			<% Round.where.not(name: "First Four").order(:number).limit(4).each do |round| %>
			<% round_number = (round.number.to_f )%>
			<% height = 2 ** (round_number-1) * 64 %>
			<div class="round">
				<% top_bottom = "top" %>
				<% bottom_top = "bottom" %>
				<% BracketGame.where(round_id: round.id, region_id: region.id).order(:weight).each do |game| %>

				<% top_bottom == "top" ? top_bottom = "bottom" : top_bottom = "top" %>
				<% bottom_top == "bottom" ? bottom_top = "top" : bottom_top = "bottom" %>

				<div class="match" style="height: <%= height %>px;">
					<div class="teamContainer" style="top: <%= (height - 53 ) / 2 %>px;">
						<% team1 = Team.find_by id: game.team_id%>
						<% team2 = Team.find_by id: game.team2_id%>
						<div class="team win" data-resultid="team-<%= team1.id %>" data-teamid="<%= team1.id %>">
							<div class="label">
								<%= team1.name %>
							</div>
							<div class="score" data-resultid="result-<%= team1.id %>">
								1
							</div>
						</div>
						<div class="team lose" data-resultid="team-<%= team2.id %>" data-teamid="<%= team2.id %>">
							<div class="label">
								<%= team2.name %>
							</div>
							<div class="score" data-resultid="result-<%= team2.id %>">
								0
							</div>
						</div>
						<div class="connector" style="height: <%= height/2 %>px; width: 20px; right: -22px; <%= bottom_top %>: <%= 13 + 27/2 %>px; border-<%= top_bottom %>-style: none;">
							<div class="connector" style="width: 20px; right: -20px; <%= top_bottom %>: 0px;"></div>
						</div>
					</div><!-- end team container -->
				</div><!-- end match-->
				<% end %>
			</div><!-- end round-->
			<% end %>
		</div>
		<% end %>
	</div>
</div>

						<div class="connector" style="height: 32px; width: 20px; right: -22px; bottom: 13.25px; border-top-style: none;">
							<div class="connector" style="width: 20px; right: -20px; top: 0px;"></div>
						</div>
<div id="noGrandFinalComeback">
	<div class="demo">
		<div class="jQBracket lr" style="width: 850px;">
			<div class="bracket" style="height: 2048px;">
				<div class="round">
					<div class="match" style="height: 64px;">
						<div class="teamContainer" style="top: 5.5px;">
							<div class="team win" data-resultid="team-0" data-teamid="0">
								<div class="label">
									kansas
								</div>
								<div class="score" data-resultid="result-0">
									1
								</div>
							</div>
							<div class="team lose" data-resultid="team-1" data-teamid="1">
								<div class="label">
									austin peay
								</div>
								<div class="score" data-resultid="result-1">
									0
								</div>
							</div>
							<div class="connector" style="height: 32px; width: 20px; right: -22px; top: 13.25px; border-bottom-style: none;">
								<div class="connector" style="width: 20px; right: -20px; bottom: 0px;"></div>
							</div>
						</div>
					</div>
				</div>
				<div class="round">
					<div class="match" style="height: 128px;">
						<div class="teamContainer" style="top: 37.5px;">
							<div class="team win" data-teamid="0">
								<div class="label">
									kansas
								</div>
								<div class="score" data-resultid="result-64">
									1
								</div>
							</div>
							<div class="team lose" data-teamid="3">
								<div class="label">
									connecticut
								</div>
								<div class="score" data-resultid="result-65">
									0
								</div>
							</div>
							<div class="connector" style="height: 64px; width: 20px; right: -22px; top: 13.25px; border-bottom-style: none;">
								<div class="connector" style="width: 20px; right: -20px; bottom: 0px;"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

