<!DOCTYPE html>
<html>
	<head>
		<title>March Calmness</title>
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
		<%= csrf_meta_tags %>
		<!--<meta name="viewport" content="width=device-width, initial-scale=1"/>-->
		
		<!-- Prelang: Analytics / Google Analytics -->
		<%= analytics_init if Rails.env.production? or Rails.env.development? %>
	</head>
	<body>
		<!-- Wrapper -->
		<div id="wrapper">
			<!-- Header -->
			<header id="header">
				<div class="inner">

					<!-- Logo -->
					<a href="/" class="logo"> <span class="symbol"><img class="logoimg" src="/assets/logo.svg" ></span><span class="title">March Calmness</span> </a>

					<!-- Nav -->
					<nav>
						<ul>
							<li>
								<a href="#menu">Menu</a>
							</li>
						</ul>
					</nav>

				</div>
			</header>

			<%= render partial: "elements/navbar" %>
			<%= bootstrap_flash %>
			<div id="main">
				<div class="inner">

					<%= yield %>
				</div>
			</div>
		</div>

		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	</body>

</html>
